[
  "https://github.com/Strangemother/python-vlc-player/blob/da7c96ed5ab3bc7fbabe94397ce01cf5f9a08590/README.md",
  "https://github.com/lyon-fnal/centos-gm2-dev/blob/8e917c0c013cd9c7eb793781270e6281f1915b74/README.md",
  "https://github.com/mcanela-iese/DataViz_Course/blob/715f16a14cf6ba6334aa3bfdf48ae85b18c9c6d1/Readings/README.md",
  "https://github.com/orthographic-pedant/honeypot/blob/5e62c4173fe35574f801c3331f312c9fe4f1d30d/README.md",
  "https://github.com/waynegramlich/ROS_Notes/blob/147234993fe78664f59e800328e8e9606df7d912/OLD_README.md",
  "https://github.com/stefanajons/stefanajons.github.io/blob/14329dfea418641d36577971937fa43d32de134b/README.md"
]
