[
  "https://github.com/npier97/wordpress-website/blob/2ff94647389f4877bffde92aaa2d025457eb3bdf/wp-content/plugins/themehunk-customizer/readme.txt",
  "https://github.com/nemoisme/el-validate-table/blob/108cf54cc05614b2c55b9d0d8ac38e644b60f3d4/README.md",
  "https://github.com/tomasrasymas/quote-me-ai/blob/3f38eaa70335f0b51cd0b867a24d9dd83fc0c840/README.md",
  "https://github.com/RoboticsURJC-students/2017-tfm-mikel-diez/blob/7d1c2ca43d02155a37b0ec934f38348bcd5a580f/README.md",
  "https://github.com/tmurphy605/SAENJIT/blob/ac78944031e2c85eb79f7dde4918f0cbdaba768a/wp-content/plugins/ultimate-member/readme.txt",
  "https://github.com/ARCC-RACE/jetson_car/blob/c9da8a0997dbfc70cabbe9b5368dc8c5096856b4/README.md",
  "https://github.com/enzittonn/learning-go-web/blob/53606a56c9e2cffe02413a4b1a07b73034f3cb7a/README.md",
  "https://github.com/s05061343/LineBotWebHook/blob/f44ed74f290013c864826433f69c1f34bf52dd12/packages/LineBotSDK.0.9.3/Readme.txt",
  "https://github.com/shiyutim/note/blob/72f8d804135d46d07315157c77fd0221a1579034/wechatApp/README.md",
  "https://github.com/maxnegro/elitepress-pro/blob/37c9ab2ea73ff2995d612602131352d1d45af7a0/readme.txt",
  "https://github.com/overwolf/overwolf.github.io/blob/59937436ec576486b23ba367dc5bbdb638017315/README.md",
  "https://github.com/rpofuk/re-gen/blob/ca70ed5d488024d129f9550a116d22981604ea74/README.md",
  "https://github.com/deralddlared/jammi/blob/61d792c07cd7a47cc5a4bbc8538beac445f10ee1/wp-content/plugins/themehunk-customizer/readme.txt",
  "https://github.com/odiseoteam/OdiseoBlogBundle/blob/d9550bd54ea296de0fe32a1ad1533e1536c78bbc/README.md",
  "https://github.com/Shusei-E/Code_Tips/blob/498aae028c756dcd91d801d9f37ef8127b556c1c/MacOS/MacVim/README.md",
  "https://github.com/tk3fftk/sdctl/blob/927be9599d34eb494feb55966ed253c679bec2bd/README.md",
  "https://github.com/wpxon/wpxon-blog/blob/2b2db608ed2bf42139bad6625ffdad60d9e86740/readme.txt",
  "https://github.com/wpxon/wpxon-blog/blob/2b2db608ed2bf42139bad6625ffdad60d9e86740/readme.md",
  "https://github.com/nkshn/Simple-Gulp4-Template/blob/2ee2e2f799f3975e9edb5f7e6879f4fa4b606d52/README.md",
  "https://github.com/94club/template_express/blob/ad84b5a170b9b4f140be9576547f709872e9d683/README.md"
]
