https://github.com/Strangemother/python-vlc-player/blob/master/README.md
https://github.com/lyon-fnal/centos-gm2-dev/blob/master/README.md
https://github.com/mcanela-iese/DataViz_Course/blob/master/README.md
https://github.com/stefanajons/stefanajons.github.io/blob/master/README.md
https://github.com/waynegramlich/ROS_Notes/blob/master/OLD_README.md
